*{
    font-family: 'Work Sans', sans-serif;
}
nav{
display: flex;
justify-content: space-between;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    color: Dark 02;
    text-decoration: none;
    
}

/* ----------------header styles ----------- */
header{
    background-color: #FF900E1A;
    padding: 50px 240px;
}
.banner{}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.btn-primary{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #FF900E;
    border-radius: 8px;
    border-color: #Fff;
    padding: 21px 24px;
    margin-bottom: 70px;
}
.banner img{
    width: 100%;
}
.color-gray{
    color: #727272;
}
/*------------ main ---------- */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams-container{
display: flex;
 
 align-items: center;
 margin-bottom: 130px;
 
}
.teams-img-container{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 10px;
}
.team-container-text{
    margin-left: 73px;
}
.teams-title{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.Quick-list{
    color: #727272;
}
.of-Our{
    color: black;
}
.Features{
    color: #FF900E;
}

.teams-description{
     height: 78px;
     width: 537px;
}



/* -----------responsive full website ---------- */
/* responsive for mobile  */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* responsive for mediam devices  */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
   
    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

